<div class="container py-3 ">
  <div class="modal-card-smaller p-3">
    <div>
      <h1 class="mx-3 my-3"> Create a new Treatment </h1>
      <div>
        <%= simple_form_for (value) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :center_name %>
        <%= f.input :address %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "add a treatment", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
