<h1>All Treatments</h1>
<div>
  <% @treatments.each do |t| %>
  <%= t.name %>
  <%= t.price %>
  <%= t.center_name %>
  <%= t.photo %>
</div>
<% end %>
<div>
  <%= link_to 'New Treatment', new_treatment_path %>
</div>
