<h1>Treatments#show</h1>
<p>Find me in app/views/treatments/show.html.erb</p>

<%= @treatment.name %>
<%= @treatment.description %>
<div class="container py-3 ">
<div class="modal-card-smaller p-3">
<div>
<h1 class="mx-3 my-3"> Book a Treatment </h1>
<div>

  <%= link_to "book now", new_treatment_booking_path(@treatment) %>

</div>
</div>
</div>

<div>
  <p>Your bookings:</p>
  <%= current_user %>
  <%= @booking %>
  <%= @treatment.moo%>
</div>
