<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/900×700/?spa);">
  <div class="container">
    <div class="center-page">
  <h2><%= @treatment.center_name.capitalize %></h2>
  <p><%= @treatment.address.capitalize %></p>
  </div>
  </div>
</div>

<div class="container under-banner">

<div class="under-banner-titles">
<div class="d-inline p-2" id="treatments">TREATMENTS</div>
<div class="d-inline p-2 " id="staff">STAFF</div>
<div class="d-inline p-2 " id="reviews">REVIEWS</div>
<div class="d-inline p-2 " id="address">ADDRESS</div>
</div>


</div>

<div class="center-body-text" id="treatments">
<div class="container center-body">



<h3>You have selected: </h3><p><%= @treatment.name.capitalize %></p>
<div class="selected-treatment">
<p>Treatment Details: <br /> <%= @treatment.description%></p>
<%= link_to "Book Now", new_treatment_booking_path(@treatment), class: "btn btn-ghost" %>
</div>
</div>


<div class="container center-body" id="staff">

<h3>Staff</h3>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">

</div>


<div class="container center-body" id="staff">

<h3>Reviews</h3>

</div>



<div class="container center-body" id="address">

<h3>Address</h3>
<h3>We are based in: </h3><p><%= @treatment.address.capitalize%></p>

</div>


<div class="container">
<h3>Explore Further</h3>
</div>

<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?spa)">
    Thermal Spa
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?massage)">
    Couple's Massage
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?zen)">
    Swedish Massage
  </div>
</div>
</div>

</div>

</div>
</div>

